.contact {
  background-color: $color-secondary-dark;
  grid-column: full-start/full-end;
  // grid-row: 7/8;
  color: $color-white;

  &__box {
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    text-align: center;
    align-self: center;
    padding: 0 18rem 4rem;

    @media only screen and (max-width: $bp-1) {
      padding: 3rem 2rem;
    }
  }

  &__btn {
    align-self: center;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 0;

    @media only screen and (max-width: $bp-2) {
      flex-direction: column;
      gap: 3rem;
    }
  }

  &__socials {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .social-icon {
    fill: $color-white;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }
}

.address {
  display: flex;
  justify-content: center;
  padding: 4rem;
  border-bottom: 1px solid $color-secondary-light;

  @media only screen and (max-width: $bp-2) {
    flex-direction: column;
  }

  &__showrooms {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $color-white;
    padding: 2rem;
    align-items: end;
    gap: 2rem;

    @media only screen and (max-width: $bp-2) {
      align-items: center;
      border-right: none;
    }
  }

  &__hours {
    display: flex;
    flex-direction: column;
    border-left: 1px solid $color-white;
    padding: 2rem;
    align-items: start;
    gap: 2rem;

    @media only screen and (max-width: $bp-2) {
      align-items: center;
      border-left: none;
    }
  }

  &__heading {
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: $color-white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    &--dif {
      font-size: 2.4rem;
    }
  }

  span {
    padding: 1.6rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  &__icon {
    fill: $color-white;
    width: 2rem;
    height: 2rem;
    // display: none;
  }
}
