.location {
  &__video {
    background-color: $color-secondary-dark;
    border-top: 3px solid $color-secondary-dark;
    border-bottom: 3px solid $color-secondary-dark;

    grid-column: full-start/col-end 5;
    // grid-row: 3/4;

    @media only screen and (max-width: $bp-m) {
      grid-column: full-start/full-end;
    }
  }

  &__play {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__detail {
    background-color: $color-secondary-dark;
    border-top: 3px solid $color-secondary-dark;
    border-bottom: 3px solid $color-secondary-dark;

    grid-column: col-start 6 / full-end;
    // grid-row: 3/4;

    padding: 4rem 8rem;

    @media only screen and (max-width: $bp-1) {
      padding: 2rem;
    }

    @media only screen and (max-width: $bp-m) {
      grid-column: full-start/full-end;
    }
  }

  &__intro {
    color: $color-white;
    margin-bottom: 4rem;
  }

  &__heading {
    color: $color-white;
    margin-bottom: 5rem;

    text-align: center;
  }

  &__content {
    color: $color-white;
    margin-bottom: 3rem;
  }

  &__btn {
    background-color: $color-secondary-dark;
    transition: all 0.5s;

    &:hover,
    &:active {
      background-color: $color-white;
      color: $color-secondary-dark;
      border: 1px solid $color-white;
    }
  }
}
